## Assignment 01

Problem Statement

Perform the following operations using Python on any open-source dataset (e.g., data.csv)

1. Import all the required Python Libraries.
2. Locate an open-source data from the web (e.g. https://www.kaggle.com). Provide a clear description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas’ data frame.
4. Data Preprocessing: check for missing values in the data using pandas isnull (), describe() function to get some initial statistics. Provide variable descriptions. Types of variables etc. Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python. In addition to the codes and outputs, explain every operation that you do in the above steps and explain everything that you do to import/read/scrape the data set.

In [26]:
import pandas as pd

df = pd.read_csv('amazon.csv')
df.head()

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories|Accessories&Peripherals|...,₹399,"₹1,099",64%,4.2,"24,269",High Compatibility : Compatible With iPhone 12...,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories|Accessories&Peripherals|...,₹199,₹349,43%,4.0,"43,994","Compatible with all Type C enabled devices, be...","AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,Computers&Accessories|Accessories&Peripherals|...,₹199,"₹1,899",90%,3.9,"7,928",【 Fast Charger& Data Sync】-With built-in safet...,"AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...","Kunal,Himanshu,viswanath,sai niharka,saqib mal...","R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...","Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-iPhone-Charging-C...
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,Computers&Accessories|Accessories&Peripherals|...,₹329,₹699,53%,4.2,"94,363",The boAt Deuce USB 300 2 in 1 cable is compati...,"AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...","Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...","R3EEUZKKK9J36I,R3HJVYCLYOY554,REDECAZ7AMPQC,R1...","Good product,Good one,Nice,Really nice product...","Good product,long wire,Charges good,Nice,I bou...",https://m.media-amazon.com/images/I/41V5FtEWPk...,https://www.amazon.in/Deuce-300-Resistant-Tang...
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,Computers&Accessories|Accessories&Peripherals|...,₹154,₹399,61%,4.2,"16,905",[CHARGE & SYNC FUNCTION]- This cable comes wit...,"AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...","rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...","R1BP4L2HH9TFUP,R16PVJEXKV6QZS,R2UPDB81N66T4P,R...","As good as original,Decent,Good one for second...","Bought this instead of original apple, does th...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Portronics-Konnect-POR-1...

In [27]:
df.dtypes

product_id             object
product_name           object
category               object
discounted_price       object
actual_price           object
discount_percentage    object
rating                 object
rating_count           object
about_product          object
user_id                object
user_name              object
review_id              object
review_title           object
review_content         object
img_link               object
product_link           object
dtype: object

In [28]:
# discounted_price       object
# actual_price           object
# discount_percentage    object
# rating                 object
# rating_count           object

df["discounted_price"] = df["discounted_price"].astype(str).str.replace("₹", "").str.replace(",", "").astype('float64')
df["actual_price"] = df["actual_price"].astype(str).str.replace("₹", "").str.replace(",", "").astype('float64')
df["discount_percentage"] = df["discount_percentage"].astype(str).str.replace("%", "").astype('float64') / 100
df["rating_count"] = df["rating_count"].astype(str).str.replace(",", "").astype('float64')

df["rating"] = df["rating"].astype(str)

for x in df.index:
    if df.loc[x, "rating"] == "|":
        df.drop(x, inplace=True)


df["rating"] = df["rating"].astype('float64')
df.dtypes

product_id              object
product_name            object
category                object
discounted_price       float64
actual_price           float64
discount_percentage    float64
rating                 float64
rating_count           float64
about_product           object
user_id                 object
user_name               object
review_id               object
review_title            object
review_content          object
img_link                object
product_link            object
dtype: object

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1464 entries, 0 to 1464
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1464 non-null   object
 1   product_name         1464 non-null   object
 2   category             1464 non-null   object
 3   discounted_price     1464 non-null   float64
 4   actual_price         1464 non-null   float64
 5   discount_percentage  1464 non-null   float64
 6   rating               1464 non-null   float64
 7   rating_count         1462 non-null   float64
 8   about_product        1464 non-null   object
 9   user_id              1464 non-null   object
 10  user_name            1464 non-null   object
 11  review_id            1464 non-null   object
 12  review_title         1464 non-null   object
 13  review_content       1464 non-null   object
 14  img_link             1464 non-null   object
 15  product_link         1464 non-null   object
dtypes: float64(5), object(11)
memory usage: 226.7+ KB

In [30]:
df.describe()

,discounted_price,actual_price,discount_percentage,rating,rating_count
count,1464.000000,1464.000000,1464.000000,1464.000000,1462.000000
mean,3126.011906,5447.002923,0.477131,4.096585,18307.376881
std,6946.625442,10878.270001,0.216274,0.291674,42766.096572
min,39.000000,39.000000,0.000000,2.000000,2.000000
25%,323.750000,800.000000,0.320000,4.000000,1191.500000
50%,799.000000,1650.000000,0.500000,4.100000,5179.000000
75%,1999.000000,4303.750000,0.630000,4.300000,17342.250000
max,77990.000000,139900.000000,0.940000,5.000000,426973.000000

In [31]:
df.shape

(1464, 16)

In [32]:
df.size

23424

In [34]:
df.isna().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           2
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [36]:
df["rating_count"] = df["rating_count"].ffill()
df.isna().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           0
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [37]:
df_duplicates = df[df.duplicated()]
df_duplicates.shape

(0, 16)

In [42]:
numeric_df = df.select_dtypes(include=["number"])
numeric_df.head()

   discounted_price  actual_price  discount_percentage  rating  rating_count
0             399.0        1099.0                 0.64     4.2       24269.0
1             199.0         349.0                 0.43     4.0       43994.0
2             199.0        1899.0                 0.90     3.9        7928.0
3             329.0         699.0                 0.53     4.2       94363.0
4             154.0         399.0                 0.61     4.2       16905.0

In [43]:
numeric_df.mean()

discounted_price        3126.011906
actual_price            5447.002923
discount_percentage        0.477131
rating                     4.096585
rating_count           18284.739754
dtype: float64

In [48]:
numeric_df.mode()

first_mode = numeric_df.mode().iloc[0]
print(first_mode)

discounted_price        199.0
actual_price            999.0
discount_percentage       0.5
rating                    4.1
rating_count           9378.0
Name: 0, dtype: float64

In [50]:
numeric_df.median()

discounted_price        799.0
actual_price           1650.0
discount_percentage       0.5
rating                    4.1
rating_count           5178.5
dtype: float64

In [51]:
numeric_df.skew()

discounted_price       4.450677
actual_price           4.558126
discount_percentage   -0.291926
rating                -1.242895
rating_count           5.675641
dtype: float64

In [52]:
numeric_df.kurt()

discounted_price       25.623149
actual_price           29.700709
discount_percentage    -0.577256
rating                  4.359520
rating_count           40.379009
dtype: float64

In [53]:
numeric_df.cov()

,discounted_price,actual_price,discount_percentage,rating,rating_count
discounted_price,4.825561e+07,7.268961e+07,-364.686544,243.821728,-8.039123e+06
actual_price,7.268961e+07,1.183368e+08,-278.696345,385.958014,-1.673401e+07
discount_percentage,-3.646865e+02,-2.786963e+02,0.046775,-0.009801,9.746715e+01
rating,2.438217e+02,3.859580e+02,-0.009801,0.085074,1.267851e+03
rating_count,-8.039123e+06,-1.673401e+07,97.467148,1267.851400,1.826816e+09

In [54]:
numeric_df.corr()

,discounted_price,actual_price,discount_percentage,rating,rating_count
discounted_price,1.000000,0.961919,-0.242740,0.120337,-0.027076
actual_price,0.961919,1.000000,-0.118459,0.121642,-0.035991
discount_percentage,-0.242740,-0.118459,1.000000,-0.155375,0.010544
rating,0.120337,0.121642,-0.155375,1.000000,0.101701
rating_count,-0.027076,-0.035991,0.010544,0.101701,1.000000